# Dependências
node_modules/

# Resultado dos testes
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Variável de ambiente
.env

# JSON Schema gerados automaticamente
tests/api/jsonSchemas/

# Sonar
.scannerwork/
coverage/